* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: all .3s ease-in-out;
}

nav {
  background-color: #E7E4DE;
}

.nav-link:hover {
  color: #AF7E5B;
}

.socials div {
  background-color: #AF7E5B;
  width: 35px;
  height: 35px;
  transition: all .3s ease-in-out;
}

.socials div:hover {
  background-color: #9d6741;
}

.homeBanner {
  background-color: #F4F2EE;
}